body{
	margin: 0px 150px 100px 80px;
	padding-top: 70px;
}

.border{
	text-align: center;
    border-bottom-style: double;
    border-bottom-color: #21b7f1;
    border-bottom-width: 6px;
    word-wrap: break-word;
    
}

.navbar{
	
	background-color:#94d1f7;
}
.navbar-nav>li>a{
	color: white;
}

h2{
	text-align: center;
}

h1{
	color: 	#191970;
}

h4{ 
    font-weight: 600;
}

.info{ 
    color: black;
    font-size:18px;

}


.title{
	padding-top: 40px;
	font-weight: bold;
	color: #21b7f1;
}

hr{
	margin-top: 0px;
}

.period >p{
	text-align: center;
	padding: 20px;
}

.section {
	font-size: 16px;
}

.certifications{
	padding: 20px;
}

li{ font-size: 17px;}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }